* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #f34202;
    --dark: #1a1a1a;
    --gray: #6c757d;
    --light: #f8f9fa;
    --radius: 16px;
    --shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;;
}

html {
    scroll-behavior: smooth;
}

.btn {
    background: var(--primary);
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    filter: brightness(0.9);
    transform: translateY(-2px);
}

.btn-oltline {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.btn-oltline:hover {
    background-color: var(--primary);
    color: #fff;
}

.btn-light {
    background: #fff;
    color: var(--primary);
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

header {
    position: fixed;
    inset: 0 0 auto 0;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: var(--shadow);
    z-index: 99;
} 

header nav {
    display: flex;
    gap: 30px;
}

header nav a {
    font-weight: 600;
}

header nav a:hover {
    color: var(--primary);
}


.hero-wrapper {
    background: linear-gradient(135deg, #fff9f5, white);
    padding-top: 80px;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 


